@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Work Sans, sans-serif;
    
}
main{
    max-width: 1366px;
    margin: 0 auto;
}
a{
    transition: 0.5s;
}
a:hover{
    cursor: pointer;
}

.primary-color{
    color: #FF42A5;
}

.btn-primary{
    color: #000;
    background: #FF42A5;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.btn-primary:hover{
    color: #000;
    background: #ccc;
    cursor: pointer;
}

/* navbar section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}
nav .nav-logo{
    display: flex;
    align-items: center;
}
nav .nav-logo img{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}
nav .nav-logo h2{
    font-size: 38px;
}
nav .nav-about{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .nav-about a{
    text-decoration: none;
    color: #000;
}
nav .nav-about a:hover{
    color: #FF42A5;
}
nav .nav-about .follow-us{
    background: #ccc;
    color: #000;
    padding: 8px 20px;
    border-radius: 5px;
}
nav .nav-about .follow-us:hover{
    background: #757373;
    color: #ffffff;
    cursor: pointer;
}
nav .nav-about .follow-us .fa-youtube{
    color: #ff0f0f;
    margin: 0 10px;
}


/* banner section styles */

#banner{
    background: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 55%;
}
#banner .banner-div{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-div .banner-content{
    width: 45%;
}
#banner .banner-div .banner-content h2{
    text-transform: uppercase;
    font-size: 36px;
}
#banner .banner-div .banner-content h1{
    text-transform: uppercase;
    font-size: 74px;
    margin: 6px 0 16px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#banner .banner-div .banner-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
#banner .banner-div .banner-content ul li i{
    margin-right: 8px;
}
#banner .banner-div .banner-content .banner-buttons button{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 48px;
    padding: 12px 30px;
}
#banner .banner-div .banner-content .banner-buttons button:nth-child(2){
    background: #4EC5F7;
    margin-left: 10px;
}
#banner .banner-div .banner-content .banner-buttons button:hover{
    background: #ccc;
    color: #000;
}

#banner .banner-div .banner-img{
    width: 50%;
}
#banner .banner-div .banner-img img{
    width: 100%;
}

/* online games section styles */

#online-g{
    max-width: 80%;
    margin: 100px auto;
}
#online-g h2{
    text-align: center;
    font-size: 36px;
}
.online-Pink-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#online-g .online-g-des{
    text-align: center;
    margin: 10px 0 0;
}
#online-g .game-cards{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
#online-g .game-cards .cards{
    width: 23%;
}
#online-g .game-cards .cards img{
    width: 100%;
}
#online-g .game-cards .cards p{
    font-size: 14px;
    margin-top: 8px;
}

/* play instant game section styles */

#play-inst{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#play-inst .play-ins-cont{
    width: 45%;
}
#play-inst .play-ins-cont h2{
    font-size: 36px;
    text-align: right;
    margin-bottom: 20px;
}
#play-inst .play-ins-cont p{
    text-align: right;
    width: 70%;
    margin: 0 0 0 30%;
    line-height: 1.5rem;
}
#play-inst .instant-img{
    width: 40%;
}
#play-inst .instant-img .first-img{
    width: 100%;
}
#play-inst .instant-img .second-img{
    width: 40%;
    position: relative;
    top: -140px;
    left: -60px;
}

/* game button section */


#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 100px;
}
#buttons .btn-container{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}
#buttons .btn-container li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    color: #000;
    font-size: 14px;
}
#buttons .btn-container li{
    padding: 7px 10px;
    transition: 0.5s;
}
#buttons .btn-container li:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
}
#buttons .btn-container li:hover a{
    color: #F948B2;
}
#buttons .btn-container li a img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* footer section */
footer{
    background: #0B0223;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-top: 100px;
    gap: 10px;
}
.footer-logo h2{
    color: white;
}
.footer-dir{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}
.footer-dir p{
    color: #FFF;
    text-align: center;
    font-size: 18px;

}
.footer-sm{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    gap: 20px;
}

.footer-term{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    gap: 20px;
}
.footer-term p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
}

.footer-copy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    padding-bottom: 100px;

}



/* responsive */
/* for mobile view */

@media screen and (max-width: 576px) {
        /* navbar section styles */
        nav {
            flex-direction: column;
        }
    
        nav .nav-logo img {
            width: 60px;
            height: 26px;
        }
    
        nav .nav-logo h2 {
            font-size: 30px;
        }
    
        nav .nav-about {
            margin-top: 30px;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
        }

    /* banner section styles */

    #banner {
        padding: 40px 0;
        background-position: center bottom;
        background-size: 100%;
    }

    #banner .banner-div {
        flex-direction: column-reverse;
        gap: 30px;
    }

    #banner .banner-div .banner-content {
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    banner .banner-div .banner-content ul{
        padding-left: 20px;
    }

    #banner .banner-div .banner-content h2 {
        font-size: 20px;
    }

    #banner .banner-div .banner-content h1 {
        font-size: 54px;
    }

    #banner .banner-div .banner-content ul {
        text-align: left;
        width: 90%;
        margin: 0 auto;
    }

    #banner .banner-div .banner-content ul li {
        font-size: 12px;
    }

    #banner .banner-div .banner-content ul li i {
        margin-right: 8px;
    }

    #banner .banner-div .banner-content .banner-buttons button {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 30px;
    }

    #banner .banner-div .banner-img {
        width: 100%;
    }


     /* online games funny videos section styles */

    #online-g h2{
        font-size: 22px;
    }
    #online-g .online-g-des{
        font-size: 12px;
    }
    #online-g .game-cards{
        flex-direction: column;
        gap: 30px;
    }
    #online-g .game-cards .cards{
        width: 100%;
    }
    #online-g .game-cards .cards img{
        width: 100%;
    }

    /* play instant game section styles */

    #play-inst{
        flex-direction: column;
        gap: 80px;
    }

    #play-inst .play-ins-cont{
        width: 100%;
    }
    #play-inst .play-ins-cont h2{
        font-size: 26px;
        text-align: center;
    }
    #play-inst .play-ins-cont p{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    #play-inst .instant-img{
        width: 80%;
    }
    #play-inst .instant-img .first-img{
        width: 100%;
        margin-left: 10%;
    }
    #play-inst .instant-img .second-img{
        top: -70px;
        left: -10px;
    }

    /* game button styles */
    #buttons{
        width: 100%;
        padding: 0 0 10px;

    }
    #buttons .btn-container{
        gap: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 20px;
    }
    #buttons .btn-container li a{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 8px;
    }
    #buttons .btn-container li a img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    /* footer section */
    .footer-dir{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-dir p{
        font-size: 12px;
    
    }
    .footer-sm{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    .footer-term{
        font-size: 8px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .footer-term p{
        font-size: 8px;
    }
    .footer-copy{
        font-size: 8px;

    
    }

}

/* for lablet */
@media screen and (min-width:577px) and (max-width:820px) {
    nav {
        flex-direction: column;
    }

    nav .nav-logo img {
        width: 60px;
        height: 26px;
    }

    nav .nav-logo h2 {
        font-size: 30px;
    }

    nav .nav-about {
        margin-top: 30px;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
    }

/* banner section styles */

.banner-div{
    padding: 0;
}
    #banner .banner-div .banner-content .banner-buttons button {
        font-size: 14px;
        padding: 10px 20px;
        margin-top: 30px;
    }


 /* online games funny videos section styles */

#online-g h2{
    font-size: 22px;
}
#online-g .online-g-des{
    font-size: 12px;
}
#online-g .game-cards{
    flex-direction: column;
    gap: 30px;
}
#online-g .game-cards .cards{
    width: 100%;
}
#online-g .game-cards .cards img{
    width: 100%;
}

/* play instant game section styles */

#play-inst{
    flex-direction: column;
    gap: 80px;
}

#play-inst .play-ins-cont{
    width: 100%;
}
#play-inst .play-ins-cont h2{
    font-size: 26px;
    text-align: center;
}
#play-inst .play-ins-cont p{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
#play-inst .instant-img{
    width: 80%;
}
#play-inst .instant-img .first-img{
    width: 100%;
    margin-left: 10%;
}
#play-inst .instant-img .second-img{
    top: -70px;
    left: -10px;
}

/* game button styles */
#buttons{
    width: 100%;
    padding: 0 0 10px;

}
#buttons .btn-container{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}
#buttons .btn-container li a{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
}
#buttons .btn-container li a img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* footer section */
.footer-dir{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-dir p{
    font-size: 15px;

}
.footer-sm{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.footer-term{
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.footer-term p{
    font-size: 10px;
}
.footer-copy{
    font-size: 10px;

}
}
