@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Work Sans, sans-serif;
    max-width: 1366px;
    margin: 0 auto;
}
a{
    transition: 0.5s;
}
a:hover{
    cursor: pointer;
}

.primary-color{
    color: #FF42A5;
}

.btn-primary{
    color: #000;
    background: #FF42A5;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.btn-primary:hover{
    color: #000;
    background: #ccc;
    cursor: pointer;
}

/* navbar section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}
nav .nav-logo{
    display: flex;
    align-items: center;
}
nav .nav-logo img{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}
nav .nav-logo h2{
    font-size: 38px;
}
nav .nav-about{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
nav .nav-about a{
    text-decoration: none;
    color: #000;
}
nav .nav-about a:hover{
    color: #FF42A5;
}
nav .nav-about .follow-us{
    background: #ccc;
    color: #000;
    padding: 8px 20px;
    border-radius: 5px;
}
nav .nav-about .follow-us:hover{
    background: #757373;
    color: #ffffff;
    cursor: pointer;
}
nav .nav-about .follow-us .fa-youtube{
    color: #ff0f0f;
    margin: 0 10px;
}
nav .nav-about .follow-us .fa-tiktok:hover{
    color: #ffffff;
}

/* banner section styles */

#banner{
    background: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 55%;
}
#banner .banner-div{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-div .banner-content{
    width: 45%;
}
#banner .banner-div .banner-content h2{
    text-transform: uppercase;
    font-size: 36px;
}
#banner .banner-div .banner-content h1{
    text-transform: uppercase;
    font-size: 74px;
    margin: 6px 0 16px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#banner .banner-div .banner-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
#banner .banner-div .banner-content ul li i{
    margin-right: 8px;
}
#banner .banner-div .banner-content .banner-banner-buttons button{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 12px 30px;
}
#banner .banner-div .banner-content .banner-buttons button:nth-child(2){
    background: #4EC5F7;
    margin-left: 10px;
}
#banner .banner-div .banner-content .banner-buttons button:hover{
    background: #ccc;
    color: #000;
}

#banner .banner-div .banner-img{
    width: 50%;
}
#banner .banner-div .banner-img img{
    width: 100%;
}